<!-- <div class="container-fluid" >

  <nav class="navbar bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        [ngClass]
        show={{show}}
      </a>
    </div>
  </nav>
  <button class="btn btn-danger" (click)="show=!show">toggle</button>
  <p class="text-info" *ngIf="show; else showDos">{{ title }} app is running!</p>
 
  <ng-template #showDos>
    <p class="text-danger">{{ title }} app not running!</p>
  </ng-template>

  <button class="btn btn-dark" (click)="fondo='bg-dark'">negro</button>
  <button class="btn btn-success" (click)="fondo='bg-success'">verde</button>

  <p class="text-info" [ngClass]="fondo">parraf uno</p>

  <button class="btn btn-warning" (click)="display='primero'">toggle</button>

  <p class="text-danger d-block" [ngClass] = "{'d-none':display=='primero'}">parraf tres</p> -->

<!-- <ul>
  <li *ngFor="let curso of cursos">{{curso}} </li>
</ul> -->

<!-- <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Type</th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let animal of animals; index as i">
      <th scope="row">{{i}} </th>
      <td>{{animal.tipo}} </td>
      <td>{{animal.nombre}}</td>
      <td>{{animal.edad}}</td>
    </tr>

  </tbody>
</table> -->
<!--ruta estatico -->
<app-navbar></app-navbar>
<!--ruta Dinamico -->
<router-outlet>
  
</router-outlet>

<app-footer></app-footer>

