


<div class="container-fluid" >
<!-- Navbar -->
  <nav class="navbar bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        [ngClass]
        show={{show}}
      </a>
    </div>
  </nav>
  <button class="btn btn-danger" (click)="show=!show">toggle</button>
  <p class="text-info" *ngIf="show; else showDos">{{ title }} app is running!</p>
 
  <ng-template #showDos>
    <p class="text-danger">{{ title }} app not running!</p>
  </ng-template>

  <button class="btn btn-dark" (click)="fondo='bg-dark'">negro</button>
  <button class="btn btn-success" (click)="fondo='bg-success'">verde</button>

  <p class="text-info" [ngClass]="fondo">parraf uno</p>

  <button class="btn btn-warning" (click)="display='primero'">toggle</button>

  <p class="text-danger d-block" [ngClass] = "{'d-none':display=='primero'}">parraf tres</p>


<app-navbar></app-navbar>
<app-footer></app-footer>
</div>

<router-outlet></router-outlet>
